<hr color='red'>
<h1>Edit <%=@building.name%></h1>
<hr color='red'>
<%= form_for @building do |f| %>
<%=f.label :"Building Name: "%>
<%= f.text_field :name %>

<%=f.label :"Country: "%>
<%= f.text_field :country %>

<%=f.label :"Address: "%>
<%= f.text_field :address %>

<%=f.label :"Rent Per Floor: "%>
<%= f.number_field :rent_per_floor %>

<%=f.label :"Number of Floors: "%>
<%= f.number_field :number_of_floors %>

<%= f.submit %>
<% end %>
