<hr color='red'>
<h1><%=@building.name%>
<hr color='red'>
<h3>
    <ul>
      <li> Country: <%=@building.country%></li>
      <li> Address: <%=@building.address%></li>
      <li> Rent/Floor: <%=@building.rent_per_floor%></li>
      <li> Number of Floors: <%=@building.number_of_floors%></li>
    </ul>
<u>Total Rent: $</u> <%=@building.total_rent%>
